OPENAI_API_KEY=
STRIPE_SECRET_KEY=
TELEGRAM_SECRET_TOKEN=

NGROK_AUTHTOKEN=
NGROK_DOMAIN=

PUBLIC_BASE_URL=

AUTH_GOOGLE_CLIENT_ID=
AUTH_GOOGLE_CLIENT_SECRET=
AUTH_SQUARE_CLIENT_ID=
AUTH_SQUARE_CLIENT_SECRET=

SQUARE_CLIENT_ID=
SQUARE_CLIENT_SECRET=
SQUARE_WEBHOOK_SIGNATURE_KEY=

SENDGRID_API_KEY=
SENDGRID_EMAIL_FROM=noreply@buyalan.com
SENDGRID_NEWSLETTER_LIST_ID=484378aa-b29b-41c7-ba95-a2c5a686e16b
NEWSLETTER_CONFIRM_TOKEN_TTL_MINUTES=1440

SENDGRID_TEMPLATE_GENERIC=d-a878177334b848a9a039e35257ba9bfd
SENDGRID_TEMPLATE_IDENTITY_CONFIRMATION_LINK=d-a878177334b848a9a039e35257ba9bfd
SENDGRID_TEMPLATE_IDENTITY_PASSWORD_RESET_LINK=d-a878177334b848a9a039e35257ba9bfd
SENDGRID_TEMPLATE_IDENTITY_PASSWORD_RESET_CODE=d-a878177334b848a9a039e35257ba9bfd
SENDGRID_TEMPLATE_NEWSLETTER_CONFIRMATION=d-a878177334b848a9a039e35257ba9bfd

FEATURE_FLAGS=landingPricing=1;teamMembers=1