OPENAI_API_KEY=
LITELLM_MASTER_KEY=sk-1234
ADMIN_EMAIL=admin@squarebuddy.ai
ADMIN_PASSWORD=parent@squarebuddy.ai
STRIPE_SECRET_KEY=
TELEGRAM_SECRET_TOKEN=IFt1WZQZMGkMP6QIFm94Yw3juEcybt7YIxqIZOhXGiVf38GP6Qt1WqQqY
NGROK_AUTHTOKEN=
NGROK_DOMAIN=

AUTH_GOOGLE_CLIENT_ID=
AUTH_GOOGLE_CLIENT_SECRET=
AUTH_SQUARE_CLIENT_ID=
AUTH_SQUARE_CLIENT_SECRET=

SQUARE_CLIENT_ID=
SQUARE_CLIENT_SECRET=
